h1::after{
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 130% !important;
    height: 100%;
    z-index: -1;
    background-color: #25AAE6;
}
ul{
    color: white;
    list-style: none;
}
p{
    color: white;
    font-size: 30px;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 15px;
}
h3{
    color: white;
    padding: 20px;
    font-size: 40px;
    Font-Family: 'Ubuntu', Sans-Serif;
    Font-Size: 48px;
}
.cap{
    width: 50px;
}

.container-color{
    height: 1100px;
}