p{
    text-align: left;
    font-size: 30px;
    color: white;
}
h2{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
.skill-wrap{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 0;
    margin-top: 5%;
}
.skill {
    margin-bottom: 3px;
    position: relative;
    overflow-x:hidden;
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    /* color: #1a1716; */
    color: white;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:#25AAE6;
    display: block;
    position: relative;
}
.skill1{
    width: 75%;
    color: white;
  
}
.skill-bar span{
    position: absolute;
    border-top: 5px;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding:0 0;
    font-weight: 500;
}
.skill-bar {
    position: relative;
  
}

.skill1 .skill-count1 {
    right: 0;
}

.skill2{
    width: 80%;
    color: white;
}

.skill2 .skill-count2 {
    right: 0;
}

.skill3{
    width: 95%;
    color: white;
}
.skill3 .skill-count3 {
    right: 0;
}


.skill4{
    width: 80%;
    color: white;
}

.skill4 .skill-count4 {
    right: 0;
}

.skill5{
    width: 100%;
    color: white;
}

.skill5 .skill-count5 {
    right: 0;
}

.skill6{
    width: 70%;
    color: white;
}

.skill6 .skill-count6 {
    right: 0;
}

.skill7{
    width: 75%;
    color: white;
}

.skill7 .skill-count7 {
    right: 0;
}
.skill8{
    width: 100%;
    color: white;
}

.skill8 .skill-count8 {
    right: 0;
}
